.current {
    display: flex;
    gap: 20px;
    justify-content: center;
    align-items:  center;
    margin: 0;
    background-color: rgba(0,0,0,0.2);
    padding: 20px 0px;
    border-radius: 20px;
    width: 720px;
}

.current-temp {
    font-size: 8.5rem;
    font-weight: 500;
}

sup {
    font-size: 3.5rem;
}

.location {
    font-size: 3.5rem;
    font-weight: 500;
}

.current-date {
    font-weight: 400;
    font-size: 1.5rem;
    width: 200px;
}

.current-weather {
    display: flex;
    flex-direction: column;
    justify-content: center;
    align-items: center;
    gap: 10px;
}

.current-weather__icon {
    font-size: 4rem;
    margin: 0px 0 0px 0;
    padding: 0;
}

.current-weather__text {
    font-size: 1.5rem;
    font-weight: 500;
}