.footer {
  display: flex;
  flex-direction: column;
  width: 720px;
  gap: 10px;
  justify-content: center;
  align-items: center;
  margin: 0;
  background-color: rgba(0, 0, 0, 0.2);
  border-radius: 20px;
}

.footer__text {
  font-size: 15px;
  font-weight: 500;
  padding: 1.4em;
}

@media only screen and (max-width: 720px) {
  .footer {
    width: 560px;
  }

  .footer__text {
    font-size: 15px;
    text-align: center;
    padding: 1em;
  }
}

@media only screen and (max-width: 560px) {
  .footer {
    width: 320px;
  }

  .footer__text {
    font-size: 13px;
    font-weight: 400;
    text-align: center;
    padding: 1em;
  }
}
