@import url("https://fonts.googleapis.com/css2?family=Fira+Sans:wght@300;400;500;600;700;800;900&display=swap");

body {
  background-image: url("images/cloud.jpg");
  background-position: center;
  background-repeat: no-repeat;
  background-size: cover;
  color: #fff;
  font-family: "Fira Sans", sans-serif;

}

* {
  padding: 0;
  margin: 0;
  /* box-sizing: border-box; */
}
